.login-wrapper{
    text-align: center;
    font-weight: bold;
}

.signup-wrapper{
    text-align: center;
    font-weight: bold;
}

/* .login-main-wrapper{
    width: 450px;
    margin-left: 35%;
    margin-right: 35%;
} */

/* .signup-main-wrapper{
    width: 450px;
    margin-left: 35%;
    margin-right: 35%;
} */

.add-food-wrapper{
    margin-top: 10px;
    text-align: center;
    margin: auto;
}

/* .list-food-wrapper
{
    margin-top: 20px;
    text-align: center;
} */

/* .card-wrapper{
    display: flex;
    flex-direction: row;
    margin: auto;   
    align-items: center;
    justify-content: center;
    width: 600px;
    padding: 10px;
} */

/* .card-image{
    margin: 10px;
} */

.each-slide-effect > div {
    display: flex;
    align-items: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 350px;
    border-radius: 5px;
    
  }
  
  .each-slide-effect span {
    padding: 20px;
    font-size: 20px;
    background: #efefef;
    text-align: center;
  }

  